/* Remove margens e faz o body ocupar 100% da tela */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;  /* impede scroll */
    background: black;
}

/* O vídeo ocupa 100% da janela */
video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;  /* recorta mantendo proporção */
    background: black;
}
